{{ define "main" }}
<section class="section container-fluid mt-n3 pb-2">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0"><img src="/Japanese_icon_(for_user_box).svg" width="144" class="position-sticky" style="opacity: 0.6;"><span class="gradient-text">[Nihongo]</span> Manabu <img src="/meong.gif" width="144" class="position-sticky" style="opacity: 0.5;"></h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm wave-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 position-relative">
          <img src="/001.png" width="144" class="position-absolute top-0 start-0" style="opacity: 0.15;">
          <h2 class="h4">Huruf Hiragana</h2>
          <p>Huruf yg wajib hafal dalam bahasa jepang yang pertama adalah Hiragana <a href="#">Bisa dilihat disini.</a> Huruf Hiragana digunakan untuk menulis kata yang asli berasal dari jepang.</p>
        </div>
        <div class="col-lg-5 position-relative">
          <img src="/002.png" width="144" class="position-absolute top-0 start-0" style="opacity: 0.15;">
          <h2 class="h4">Huruf Katakana &#x1F202;</h2>
          <p>Huruf yg wajib hafal dalam bahasa jepang yang kedua adalah Katakana <a href="#">Bisa dilihat disini.</a> Huruf Katakana digunakan untuk menulis kata serapan dari bahasa asing.</p>
        </div>
        <div class="col-lg-5 position-relative">
          <img src="/003.png" width="144" class="position-absolute top-0 start-0" style="opacity:.3">
          <h2 class="h4">Kanji</h2>
          <p>Selain huruf Hiragana ada huruf Kanji yang digunakan untuk menulis kata yang asli berasal dari Jepang. <a href="#">Bisa dilihat disini.</a></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 position-relative">
          <h2 class="h4">Tata Bahasa</h2>
          <p>Dalam Bahasa Jepang pola tata bahasa berbeda dengan bahasa Indonesia. <a href="#">Untuk memulai belajar Bisa dimulai disini.</a></p>
        </div>
        <div class="col-lg-5 position-relative">
          <h2 class="h4">Pemahaman Partikel</h2>
          <p>Partikel atau yang disebuat Joshi dalam bahasa jepang merupakan suatu kata singkat yang berfungsi untuk mengindikasikan hubungan antar kata dalam suatu pola kalimat dalam bahasa jepang.<a href="#">Bisa dipelajari disini.</a></p>
        </div>
        <div class="col-lg-5 position-relative">
          <h2 class="h4">Kosakata</h2>
          <p>Kumpulan kosakata bahasa jepang yang sering digunakan dalam kehidupan sehari hari.<a href="#">Bisa dilihat disini.</a></p>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonials" class="section section-sm position-relative">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-12 text-center">
          <h2 class="display-5 mb-0">Apa kata mereka ✨</h2>
          <p class="lead mt-2 mb-4">Testimoni yang kami dapat dari beberapa orang yang telah belajar di <a href="" >{{ .Site.Params.title }} </a></p>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="shadow-lg mt-3 p-4 bg-primary text-white" style="border-radius:.7rem">
              <p>
                <a href="/" class="link-light">"{{ .Site.Params.title }}</a> adalah tempat belajar online gratis yang sangat bagus.
              </p>
              <p>Hal yang paling bagus adalah, keinginan saya untuk belajar bahasa jepang sudah terpenuhi!</p>
              <p>
                <a href="/" class="link-light">{{ .Site.Params.title }}</a> menghemat waktu &amp; biaya, karena saya tidak perlu membeli berbagai macam buku untuk saya pelajari."
              </p>
              <p class="mb-0">
                <img src="luvian_cotak.jpg" width="64" class="rounded rounded-pill img-thumbnail">
                <b class="ms-2">Galih Adi Pratama</b>, <a href="#" class="link-light"><small>会社の実習生です</small></a>
              </p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="shadow shadow-lg mt-3 p-4 bg-primary text-white" style="border-radius:.7rem">
              <p>"<a href="/" class="link-light">{{ .Site.Params.title }}</a> cara praktis untuk belajar bahasa jepang pemula! </p>
              <p>Sekarang saya sudah paham bahasa jepang apa kabar, bahasa jepang tidak apa apa, bahasa jepang ada apa, bahasa jepang lagi apa, dan juga apa arti kimochi dalam bahasa jepang.</p>
              <p>Saya sangat senang bisa menjadi bagian dari <a href="/" class="link-light">{{ .Site.Params.title }}</a> dan semoga ilmu yang disampaikan disini bermanfaat bagi semua orang yang ingin belajar bahasa jepang." </p>
              <br>
              <p class="mb-0">
                <img src="jannis_fedoruk_betschki.webp" width="64" class="rounded rounded-pill img-thumbnail">
                <b class="ms-2">Destiyani Permatasari</b>, <a href="#" class="link-light"><small>会社の実習生です</small></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="faq" class="section section-sm position-relative">
    <img src="/shape.svg" class="position-absolute top-0 start-0" style="opacity:.1;width:40%">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-12 text-center">
          <h2 class="display-6 mb-0">Pertanyaan yang sering diajukan &#x2753;</h2>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h2 class="h5 mb-2" itemprop="name">Apa arti dari ikeh ikeh kimochi dalam bahasa jepang?</h2>
            <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <p itemprop="text">Bagi orang yang senang nonton film jepang &#x1F61B; sering mendengar kaya ini ya. Sebenarnya artinya karena..<a href="#">Read more</a></p>
            </div>
          </div>
          <div class="col-lg-8" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h2 class="h5 mb-2" itemprop="name">Apa arti yamete kudasai dalam bahasa jepang?</h2>
            <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <p itemprop="text">Kudasai artinya tolong dan Yemete adalah dari kata kerja やめます [yamemasu], artinya menjadi..<a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 position-relative" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h2 class="h5 mb-2" itemprop="name">Bahasa jepang apa kabar?</h2>
            <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <p itemprop="text">Menanyakan kabar dalam bahasa jepang kalau diartikan agak aneh dalam bahasa indonesia, おげんきですか？ [ogenkidesuka?] yang artinya apakah sehat. Penjelasannya adalah..<a href="#">Read more</a></p>
            </div>
          </div>
          <div class="col-lg-8" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h2 class="h5 mb-2" itemprop="name">Bahasa jepang apa?</h2>
            <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <p itemprop="text">Apa adalah suatu kata tanya, Dalam bahasa jepang apa ada 2 yaitu なん [nan] dan なに [nani]. Kapan menggunakan なん kapan menggunakan なに..<a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h2 class="h5 mb-2" itemprop="name">Translate bahasa jepang ke indonesia yang benar?</h2>
            <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <p itemprop="text">Mencoba translate bahasa jepang ke indonesia memang agak sulit seandainya belum belajar tata bahasanya. Bagaimana cara memulai belajar bahasa jepang..<a href="#">Read more</a></p>
            </div>
          </div>
          <div class="col-lg-8" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h2 class="h5 mb-2" itemprop="name">Apa arti baka dalam bahasa jepang?</h2>
            <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <p itemprop="text">Mungkin yang sering nonton anime sering mendengar kata ばか [baka] yang artinya "bodoh" tapi ini sudah termasuk kasar ya, kata apa lagi yang sering ada di anime atau yang biasanya digunakan ngobrol dengan orang yang setara atau teman..<a href="#">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
